

<div class="fixed-bottom p-0 m-0 navbar navbar-dark navbar-expand-md bg-dark text-white shadow-sm bd-highlight" id="navbar-small-bottom">
    <div class="container-fluid">
        <div class="navbar-brand mx-3">
            <a href="{% url 'contact' %}" class="text-decoration-none text-white">Me contacter</a>
        </div>       
        <div class="d-flex">
            <a href="#" class="text-decoration-none me-2 text-white fs-3" >&#128285;</a>
        </div>
    </div>
</div>

{% comment %} <div class="bg-dark text-white shadow-sm" id="navbar-bottom ">
    <div class="row d-flex justify-content-around">
        <div class="col-6">
            <a href="{% url 'contact' %}" class="text-decoration-none text-white">Me contacter</a>
        </div>       
        <div class="col-6">
            <a href="#" class="text-decoration-none me-2 text-white fs-2">&#128285;</a>
        </div>
    </div>
</div> {% endcomment %}