
<div class="container">
    <div class="row py-5"> 
        <h2 class=" justify-content-center text-center p-2 m-2">Bienvenue sur <strong> votre </strong> site de recettes de cuisine</h2>
    </div>
    <div class="row fs-5">
        <p class=" justify-content-center text-center p-2 m-2">
            J'ai voulu créer ce lieu de partage pour nous permettre de conserver, retrouver et partager nos recettes familiales, 
            en mémoire à ma très chère grand-mère, qui a transmis à ses enfants, petits enfants et toute notre grande famille les plaisirs de la table. </br>
            À force de perdre mes petits bouts de papiers avec des recettes notées à la va-vite, accrochées sur le frigo ou déposées sur le buffet, j'ai eu envie d'un support pérenne. </br>
            J'espère donc que ce blog sera l'évolution de ces billets que l'on partage de génération en génération et que notre petit calepin de recettes deviendra <strong> www.cookandlove.fr </strong>. </br>
            Profitons-en pour entretenir notre plaisir culinaire et pour préparer de bons repas autour d'une belle tablée. </br>
            N'hésitez pas à créer votre compte en vous identifiant, vous disposerez alors de votre espace pour accéder à vos recettes et pourrez commenter et noter les différentes recettes du site. </br>  
            Faites vivre ce site en conservant et partageant vos recettes favorites pour perpétrer la transmission intergénérationnelle! </br>
        </p>
    </div>
</div>