{% extends 'main.html' %}
{% block content %}


<div class="container-fluid">
    <h2 class="d-flex justify-content-center mb-5">{{title}}</h2>
    <h2 class="d-flex justify-content-center mb-5">{{note_moyenne}}</h2>
    <div class="row d-flex flex-row justify-content-around gy-4">
        {% for comment in comments %}
            <div class="col-12 col-md-6 text-center">
                <div class="mb-5 border border-dark rounded ">
                    <div class="d-flex flex-column">
                        <div class="card card-body border-dark">
                            <h4 class="text-decoration-underline">Titre:</h4>
                            <h4>{{comment.title}}</h4>
                        </div>
                        <div class="card card-body border-dark">
                            <h4 class="text-decoration-underline">Description:</h4>
                            <p class="fs-4">Description: {{comment.description|linebreaksbr}}</p>
                        </div>
                        <div class="card card-body border-dark">
                            <h4>Note: {{comment.rating}}/5</h4>
                        </div>
                        <div class="card card-body border-dark"> 
                            <div class="d-flex justify-content-end">
                                {%if user.id == comment.user.id %}
                                <div class="container">
                                    <div class="row">
                                        <div class="p-2 mb-3 bd-highlight">
                                            {%if not comment.time_created == comment.last_updated %}
                                                <i>Publié le {{comment.time_created|date:"d M Y"}} (mise à jour le {{comment.last_updated|date:"d M Y"}})</i>
                                            {% elif comment.time_created == comment.last_updated %}
                                                <i>Publié le {{comment.time_created|date:"d M Y"}}</i>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="row d-flex flex-row">
                                        <div class="col-6">
                                            <a class="p-2 rounded border border-dark" href="{% url 'modify_comment' comment.id%}">Modifier</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="p-2 rounded border border-dark" href="{% url 'delete_comment' comment.id%}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="row d-flex flex-row">
                                        <div class="col-12">
                                            {%if not comment.time_created == comment.last_updated %}
                                            <i>Publié le {{comment.time_created|date:"d M Y"}} (mise à jour le {{comment.last_updated|date:"d M Y"}})</i>
                                            {% elif comment.time_created == comment.last_updated %}
                                            <i>Publié le {{comment.time_created|date:"d M Y"}}</i>
                                            
                                            {%endif%}
                                            <i>Par {{comment.user|capfirst}}</i>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% comment %} </div> {% endcomment %}
    </div>
    <div class="d-flex justify-content-center mb-5">
        <a class="p-2 px-5 bg-white rounded border border-dark d-flex justify-content-center" href="{% url 'create_comment' recipe.id%}">Commenter la recette</a>
    </div>
</div>
{% endblock %}