{% include 'main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h5 class="d-flex justify-content-center m-5">{{title}}</h5>
<div class="d-flex justify-content-center m-5">
    <div class="col-md-7 text-center">
    {% for comment in comments %}
    <div class="mb-5 border border-dark rounded ">
        <div class="d-flex flex-column">
            <div class="card card-body border-dark">
                <h4>{{comment.recipe}}</h4>
            </div>
            <div class="card card-body border-dark">
                <h6>Note: {{comment.rating}}/5</h6>
            </div>
            <div class="card card-body border-dark">
                <h6>{{comment.title}}</h6>
            </div>
            <div class="card card-body border-dark">
                <small>{{comment.description}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}