{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center mb-5">
	<div class="col-12 col-md-7">
		<div class="d-flex justify-content-center fs-2 p-4 mb-3">{{title}}</div>
			<div class="ombre border border-dark rounded bg-white">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %} <!--protège les informations données-->
						<!--{{form.as_p}}-->
					<div class="d-flex flex-column">
						<div class="card card-body border-white"> Titre:
							{{form.title}}
						</div>
						<div class="card card-body border-white" id="ingredients"> Ingrédients:
							{{form.ingredients}}
						</div>
						<div class="card card-body border-white"> Description:
							{{form.description}}
						</div>
						<div class="card card-body border-white"> Image:
							{{form.image}}
						</div>
                        <div class="card card-body border-white"> Catégorie:
							{{form.recipe_tag}}
						</div>
							{{form.errors}}
						<div class="bg-white d-flex justify-content-end p-1">
							<button type="submit" class="rounded">Publier</button>
						</div>
					</div>
				</form>
			</div>
		<!-- {% for message in messages%}
		<p id="message">{{message}}</p>
		{% endfor %} -->
        
	</div>
</div>
{% endblock %}