{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load my_tags %}

<section class="container">
    <h2 class="fst-italic fw-bold d-flex justify-content-center mb-3">{{title}}</h2>

    <div class="row">
        <div class="col-12 my-3">
            {% comment %} <div class="d-flex justify-content-center mb-5"> {% endcomment %}
                {% comment %} <div class="col-md-7">
                    <div class="w3-card-4 w3-margin w3-white"> {% endcomment %}
                        <div class="ombre d-flex flex-column">
                            <div class="card card-body border-dark">
                                <span class="fs-4 fst-italic fw-bold d-flex justify-content-center my-2">Titre:</span>
                                <h3 class="d-flex justify-content-center">{{recipe.title}}</h3>
                            </div>
                        {% if recipe.ingredients == None %}
                            <div class="card card-body border-dark">
                                <p class="fs-5  d-flex justify-content-center">Détail des ingrédients non précisé</p>
                            </div>
                        {% else %}
                            <div class="card card-body border-dark">
                                <span class="fs-4 fst-italic fw-bold d-flex justify-content-center my-2">Ingrédients:</span>
                                    <p class="fs-5">{{recipe.ingredients|linebreaksbr|remove_excess_linebreaks}}</p>
                            </div>
                        {% endif %}
                            <div class="card card-body border-dark"> 
                                <span class="fs-4 fst-italic fw-bold d-flex justify-content-center my-2">Description:</span>
                                <p class="fs-5">{{recipe.description|linebreaksbr|remove_excess_linebreaks}}</p>
                            </div>
                        {%if recipe.image %}
                            <div class="card card-body border-dark">
                                <img src="{{recipe.image.url}}" alt="{{recipe.title}}" class="img-thumbnail w-50 mx-auto d-block">
                                {% comment %} <img src="{% get_media_prefix %}{{recipe.image}}" alt="image" class="img-thumbnail w-25"> {% endcomment %}
                            </div>
                        {% else %}
                            <div class="card card-body border-dark d-flex justify-content-end">
                                <div class="bd-highlight d-flex justify-content-end">
                                    <a class="p-2 rounded border border-dark d-flex justify-content-end" href="{% url 'modify_recipe' recipe.id%}">Ajouter une image</a>
                                </div>
                            </div>
                        {% endif %}
                        {% if recipe.recipe_tag == None %}
                            <div class="card card-body border-dark">
                                <p>Catégorie non renseignée</p>
                            </div>
                        {% else %}
                            <div class="card card-body border-dark">
                                <span class="fs-4 fst-italic fw-bold d-flex justify-content-center my-2">Catégorie:</span>
                                <p class="fs-5 d-flex justify-content-center my-2">{{recipe.recipe_tag}}</p>
                            </div>
                        {% endif %}
                            <div class="card card-body border-dark"> 
                                <div class="row d-flex">
                                    <div class="col-12 col-lg-7 d-flex justify-content-center">
                                        <div class="p-2 bd-highlight text-center">
                                            {%if not recipe.time_created == recipe.last_updated %}
                                                <i>Publiée le {{recipe.time_created|date:"d M Y"}}</i> </br>
                                                <i>(mise à jour le {{recipe.last_updated|date:"d M Y"}})</i>
                                            {% elif recipe.time_created == recipe.last_updated %}
                                                <i>Publiée le {{recipe.time_created|date:"d M Y"}}</i>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center">
                                    {% if user.id == recipe.user.id %}
                                        <div class="p-3 mx-2 bd-highlight">
                                            <a class="p-2 rounded border border-dark" href="{% url 'modify_recipe' recipe.id%}">Modifier</a>
                                        </div>
                                        <div class="p-3 bd-highlight">
                                            <a class="p-2 rounded border border-dark" href="{% url 'delete_recipe' recipe.id%}">Supprimer</a>
                                        </div>
                                    {% elif user.is_authenticated %}
                                        <div class="p-3 mx-2 bd-highlight">
                                            <a class="p-2 rounded border border-dark" href="{% url 'create_comment' recipe.id%}">Commenter</a>
                                        </div>
                                    {% else %}
                                        <div class="p-3 mx-2 bd-highlight">
                                            <a class="p-2 rounded border border-dark" href="{% url 'connexion' %}">Commenter</a>
                                        </div>
                                        <div class="p-3 bd-highlight">
                                            <a class="p-2 rounded border border-dark" href="{% url 'recipes' %}">Retour</a>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body border-dark">
                                <div class="row d-flex">
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <a class="p-2 rounded border border-dark" href="{% url 'recipes' %}">Retour aux recettes</a>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    {% comment %} </div>
                </div> {% endcomment %}
                </br>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            {%if recipe.commented and len_comments > 0 %}
                <h2 class="fst-italic fw-bold d-flex justify-content-center my-3">Commentaires:</h2>
                <div class="ombre d-flex flex-column mb-5">
                {% for comment in comments%}
                    <div class="card card-body border-dark">
                        <div class="">
                            <span class="fs-6 fst-italic fw-bold">{{comment.title}} {{comment.rating}}/5</span>
                        </div>
                        {% if comment.description == None %}
                            <div class="">
                            </div>
                        {% else %}
                            <div class="">
                                    <p class="fs-5">{{comment.description|linebreaksbr}}</p>
                            </div>
                            <div class="">
                                <i class="d-flex justify-content-end"> &#40;{{comment.user|capfirst}}, il y a {{comment.last_updated|timesince|upto:',' }}&#41; </i>
                            </div>
                        {% endif %}
                    </div>
                {%endfor%}
                </div>
            {% comment %} recipe.commented but comment deleted or no commented {% endcomment %}
            {%else%}
            <div class="card card-body border border-dark mb-5">
                Il n'y a pas encore de commentaire associé à cette recette
                <i class="d-flex justify-content-end"><a href="{%url 'create_comment' recipe.id%}" class="">Notez la</a></i>
            </div>
            {%endif%}
        </div>
    </div> 
</section>
{% endblock %}