{% extends 'main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        background-color: #7abecc;
    }
    .ombre {
        box-shadow: #0040ff 0px 10px 10px, #0040ff 0px -5px 5px, #0040ff 0px 4px 6px, #0040ff 0px 10px 10px, #0040ff 0px -3px 5px;
    }
</style>
<div class="d-flex justify-content-center m-5">
    <div class="d-flex justify-content-center m-5">
        <img src="https://www.icone-gif.com/gif/maisons/cuisine/cuisine-gif-082.gif"
        alt="chef cuisinier">
    </div>
    <h1 class="d-flex justify-content-center p-4 m-5"> Cook and Love </h1>
    <div class="d-flex justify-content-center m-5">
        <img src="https://www.icone-gif.com/gif/maisons/cuisine/cuisine-gif-076.gif"
    alt="chef cuisinier">
    </div>
</div>
<div class="d-flex justify-content-center">
    <h3 class="d-flex justify-content-center p-2 m-2">{{titre}}</h3>    
</div>
<div class="d-flex justify-content-center">
    <h3 class="d-flex justify-content-center p-2 m-2">{{message}}</h3>
</div>
<div class="col-8 offset-2 mt-3">
    <div class="d-flex justify-content-center mb-5">
        <div class="col-md-7">
            {% for recipe in recipes %}
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="ombre d-flex flex-column">
                        <div class="card card-body border-dark"> <h3>Titre:</h3>
                            {{recipe.title}}
                        </div>
                        {% if recipe.ingredients == None %}
                            <div class="card card-body border-dark">
                                <h5>Détail des ingrédients non précisé</h5>
                            </div>
                        {% else %}
                        <div class="card card-body border-dark"> <h3>Ingrédients:</h3>
                            {{recipe.ingredients}}
                        </div>
                        {% endif %}
                        <div class="card card-body border-dark"> <h3>Description:</h3>
                            {{recipe.description}}
                        </div>
                        {%if recipe.image %}
                            <div class="card card-body border-dark">
                                <img src="{% get_media_prefix %}{{recipe.image}}" alt="image" class="img-thumbnail w-25">
                            </div>
                        {% endif %}
                        {% if recipe.recipe_tag == None %}
                            <div class="card card-body border-dark">
                                <h5>Catégorie non renseignée</h5>
                            </div>
                        {% else %}
                            <div class="card card-body border-dark">
                                <h3>{{recipe.recipe_tag}}</h3>
                            </div>
                        {% endif %}
                        <div class="card card-body border-dark"> 
                            <div class="d-flex justify-content-end">
                                <div class="p-2 mb-3 bd-highlight">
                                    {%if not recipe.time_created == recipe.last_updated %}
                                        <i>Publiée le {{recipe.time_created|date:"d M Y"}} (mise à jour le {{recipe.last_updated|date:"d M Y"}})</i>
                                    {% elif recipe.time_created == recipe.last_updated %}
                                        <i>Publiée le {{recipe.time_created|date:"d M Y"}}</i>
                                    {%endif%}
                                </div>
                                <div class="p-3 mb-3 bd-highlight">
                                    <a class="p-2 rounded border border-dark" href="{% url 'modify_recipe' recipe.id%}">Modifier</a>
                                </div>
                                <div class="p-3 mb-3 me-3 bd-highlight">
                                    <a class="p-2 rounded border border-dark" href="{% url 'delete_recipe' recipe.id%}">Supprimer</a>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}