{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center mb-5 fw-bold">
        <h2 class="col d-flex justify-content-center mx-3">
            Veux-tu modifier ton profil utilisateur?
        </h2>
    </div>
    <div class="row mx-3 d-flex justify-content-center ">
        <div class="col d-flex justify-content-center">
            <p><a href="{% url 'password_change' %}">Changer mon mot de passe</a></p>
        </div>
        <div class="col d-flex justify-content-center">
            <p><a href="{% url 'password_reset' %}">Réinitialiser mon mot de passe</a></p>
        </div>
        <div class="col d-flex justify-content-center">
            <p><a href="{% url 'deactivate_profile' user.id %}">Supprimer mon compte</a></p>
        </div>
    </div>
</div>
{% endblock %}
